/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/




.App {
  max-width: 1920px;
  margin: 0 auto;
}



.header__container {
  background: url(./assets/images/Rectangle_32.png);
  padding: 0px 10%;
  height: 100vh;
  max-height: 1007px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header__top {
  display: grid;
  padding: 20px;
  grid-template-columns: 2fr 8fr auto;
  justify-items:center;
  align-items: center;
  gap: 1rem;
}

.header__top__logo {
  justify-self: start;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  /* or 114% */
  text-transform: uppercase;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__top__links {
  display: flex;
  justify-self: end;
  gap: 1rem;
  margin-right: 40px;
}

.header__top__links a {
  color: #42426A;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.header__top__phone{
  display: flex;
  justify-self: end;
  gap: 1rem;
  align-items: center;
}

.header__top__phone p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.04em;
  color: #42426A;
}












.find__block {
  padding: 0px 10%;
  height: 587px;
  background: linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  align-items: center;
}


.find__block__left {
  max-width: 502px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  }