@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

*:focus, *:active {
  outline: none;
}

/*-----Убрать каретку кроме инпутов-----*/
*:not(input) {
  user-select: none;
}

/*--------------------*/
.App {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.App > div {
  font-family: 'Montserrat';
}

.header__container {
  background: url(./assets/images/Rectangle_32.png);
  height: 100vh;
  max-height: 1007px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20%;
}

@media screen and (max-width: 1340px) {
  .header__container {
    padding: 0px 2%;
  }
}

.header__top {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1rem;
}

.header__top__logo {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__top__links {
  display: flex;
  justify-self: end;
  gap: 1rem;
  justify-self: end;
}

.header__top__links a {
  color: #42426A;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

@media screen and (max-width: 770px) {
  .header__top__links {
    display: none;
  }
}

.header__top__phone {
  display: flex;
  justify-self: end;
  gap: 1rem;
  align-items: center;
}

.header__top__phone p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #42426A;
}

.header__center__text_block {
  font-style: normal;
  color: #FFFFFF;
}

.header__center__text_block p:first-child {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
}

@media screen and (max-width: 770px) {
  .header__center__text_block p:first-child {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 460px) {
  .header__center__text_block p:first-child {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-height: 770px) {
  .header__center__text_block p:first-child {
    font-size: 18px;
    line-height: 22px;
  }
}

.header__center__text_block p:nth-child(2) {
  font-weight: 700;
  font-size: 67px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 20px 0px;
}

@media screen and (max-width: 770px) {
  .header__center__text_block p:nth-child(2) {
    font-size: 37px;
  }
}

@media screen and (max-width: 460px) {
  .header__center__text_block p:nth-child(2) {
    font-size: 26px;
  }
}

@media (max-height: 770px) {
  .header__center__text_block p:nth-child(2) {
    font-size: 26px;
  }
}

.header__center__text_block p:last-child {
  font-weight: 400;
  font-size: 26px;
}

.header__center__text_block p:last-child span {
  font-weight: bold;
  color: #F99F40;
}

@media screen and (max-width: 770px) {
  .header__center__text_block p:last-child {
    font-size: 21px;
    line-height: 26px;
    max-width: 65%;
  }
}

@media screen and (max-width: 460px) {
  .header__center__text_block p:last-child {
    font-size: 16px;
    line-height: 20px;
    max-width: 80%;
  }
}

@media (max-height: 770px) {
  .header__center__text_block p:last-child {
    font-size: 16px;
    line-height: 20px;
    max-width: 80%;
  }
}

.header__center__btn_block {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  font-style: normal;
}

.header__center__btn_block button {
  /* переопределение стилей для ссылок */
  display: inline-block;
  text-align: center;
  /* для установки размеров используем паддинги*/
  border: 0px solid transparent;
  border-radius: 70px;
}

@media screen and (max-width: 770px) {
  .header__center__btn_block button {
    padding: 25px 10% !important;
  }
}

@media (max-height: 770px) {
  .header__center__btn_block button {
    padding: 25px 10% !important;
  }
}

.header__center__btn_block button:first-child {
  --b: 3px;
  /* border width*/
  --r: 70px;
  /* the radius */
  /* text*/
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  color: #F99F40;
  padding: calc(var(--b) + 5px);
  margin: 0px 0;
  position: relative;
  z-index: 0;
  padding: 25px 80px;
}

.header__center__btn_block button:first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: var(--b);
  border-radius: var(--r);
  background: var(--c, linear-gradient(113.2deg, #FD636B 10.25%, #FFD200 98.71%));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.header__center__btn_block button:nth-child(2) {
  background-image: linear-gradient(113.2deg, #FD636B 10.25%, #FFD200 98.71%);
  box-shadow: 0px 15px 25px rgba(249, 159, 64, 0.4);
  /* text*/
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 25px 80px;
}

@media screen and (max-width: 460px) {
  .header__center__btn_block button:nth-child(2) {
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    padding: 25px !important;
  }
  .header__center__btn_block button:nth-child(2)::after {
    content: url("./assets/images/icons8_notification1.svg");
  }
}

.header__center__btn_block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (max-width: 460px) {
  .header__center__btn_block p {
    margin: 40px auto;
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 770px) {
  .header__bottom {
    justify-content: end;
  }
}

.header__bottom > div:first-child {
  background: rgba(255, 255, 255, 0.22);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 30px;
  border-radius: 0px 0px 5px 5px;
  writing-mode: vertical-rl;
  transform: scale(-1);
}

@media screen and (max-width: 770px) {
  .header__bottom > div:first-child {
    display: none;
  }
}

@media (max-height: 770px) {
  .header__bottom > div:first-child {
    display: none;
  }
}

.header__bottom > div:last-child {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  padding: 46px 33px;
}

.header__bottom > div:last-child:before {
  content: url("./assets/images/icons8_google_maps1.svg");
  margin-right: 10px;
}

@media screen and (max-width: 460px) {
  .header__bottom > div:last-child {
    width: 100%;
  }
}

@media (max-height: 770px) {
  .header__bottom > div:last-child {
    margin-left: auto;
  }
}

@media (max-height: 460px) {
  .header__bottom > div:last-child {
    padding: 10px 5px;
  }
}

.find__block {
  height: 587px;
  background: linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0px 20%;
}

@media (max-width: 1340px) {
  .find__block {
    padding: 0px 2%;
  }
}

@media (max-width: 770px) {
  .find__block {
    display: none;
  }
}

@media (max-height: 770px) {
  .find__block {
    display: none;
  }
}

.find__block > div:first-child {
  max-width: 502px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
