$size_1340: 1340px
$size_770: 770px
$size_460: 460px
  
.header__center__text_block
  font-style: normal
  color: #FFFFFF

  p:first-child
    font-weight: 400
    font-size: 40px
    line-height: 49px
    @media screen and (max-width: $size_770)
      font-size: 28px
      line-height: 34px
    @media screen and (max-width: $size_460)
      margin-top: 50px
      font-size: 18px
      line-height: 22px
    @media (max-height: $size_770 )
      font-size: 18px
      line-height: 22px

  p:nth-child(2)
    font-weight: 700
    font-size: 67px
    text-transform: uppercase
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(90deg, #6967CE 17.39%, #1CADD0 88.15%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    padding: 20px 0px
    @media screen and (max-width: $size_770)
      font-size: 37px
    @media screen and (max-width: $size_460)
      font-size: 26px
    @media (max-height: $size_770 )
      font-size: 26px

  p:last-child
    font-weight: 400
    font-size: 26px
    span
          font-weight: bold
          color: #F99F40
    @media screen and (max-width: $size_770)
      font-size: 21px
      line-height: 26px
      max-width: 65%
    @media screen and (max-width: $size_460)
      font-size: 16px
      line-height: 20px
      max-width: 80%
    @media (max-height: $size_770 )
      font-size: 16px
      line-height: 20px
      max-width: 80%
 
.header__center__btn_block
    display: flex
    gap: 20px
    align-items: center
    flex-wrap: wrap
    padding: 20px 0px
    font-style: normal
    @media (max-height: $size_460 )
      padding: 5px 0px

    button
      /* переопределение стилей для ссылок */
      display: inline-block
      text-align: center;
      /* для установки размеров используем паддинги*/ 
      border: 0px solid transparent
      border-radius: 70px
      @media screen and (max-width: $size_770)
        padding: 25px 10% !important
      @media (max-height: $size_770 )
        padding: 25px 10% !important
    
    button:first-child
        --b: 3px
        /* border width*/
        --r: 70px
        /* the radius */
        /* text*/
        font-weight: 500
        font-size: 17px
        line-height: 21px
        /* identical to box height */
        color: #F99F40
        padding: calc(var(--b) + 5px)
        margin: 0px 0
        position: relative
        z-index: 0
        padding: 25px 80px
        &:before
          content: ""
          position: absolute
          z-index: -1
          inset: 0
          padding: var(--b)
          border-radius: var(--r)
          background: var(--c, linear-gradient(113.2deg, #FD636B 10.25%, #FFD200 98.71%))
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
          -webkit-mask-composite: xor
          mask-composite: exclude
    
    button:nth-child(2)
      background-image: linear-gradient(113.2deg, #FD636B 10.25%, #FFD200 98.71%)
      box-shadow: 0px 15px 25px rgba(249, 159, 64, 0.4)
      /* text*/
      font-weight: 500
      font-size: 17px
      line-height: 21px
      color: #FFFFFF
      padding: 25px 80px
      @media screen and (max-width: $size_460)
        font: 0/0 serif
        text-shadow: none
        color: transparent
        padding: 25px!important
        &::after
          content: url('../../assets/images/icons8_notification1.svg')

    p
      font-weight: 400
      font-size: 16px
      line-height: 20px
      color: #FFFFFF
      @media screen and (max-width: $size_460)
        margin: 40px auto 